<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta content="text/html" charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1, user-scalable=yes">
		<meta name="Title" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<title>모두의대치동</title>
		<link rel="stylesheet" type="text/css" href="/common/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="/common/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/live/css/reset.css"/>

		<link rel="stylesheet" type="text/css" href="/common/css/player.css"/>
		<script type="text/javascript" src="https://www.bravecompany.net/js/jquery.min.js"></script>
	</head>
	<body style="-ms-overflow-y: hidden; overflow-y: hidden;">
<!-- 스트리밍 플레이어 --> <!-- 학생ver -->
<div class="modoo_player">
	<!-- 플레이어 영역 -->
	<div class="player_container fullscreen">
		<!-- 영상 -->
		<section class="player_media">
			<div class="media_container">
				<div class="media_surface">
					<div class="surface">
						<div class="surf_in"><div class="surf_rsl"><!-- 라이브화면 --></div></div>
					</div>
					<!-- 질문학생 썸네일 -->
					<div class="thumb_stdnt">
						<div class="user_thumb big"><span><img id="stdnt_img" src="/live/img/test_img1.png"><!-- 질문학생 썸네일이미지 --></span></div>
						<div class="stdnt_nm"><span>이나은학생<!-- 질문학생 이름 --></span></div>
					</div>
					<!-- //질문학생 썸네일 -->
				</div>
				<div class="media_controller">
					<div class="media_button">
						<div class="button_left"></div>
						<div class="button_center">
							<!--  btn_feed 상태
									btn_feed : 기본 상태 (쌤 질문있어요!),
									btn_feed.active : 녹색라인 버튼, 질문중 상태 (질문중이에요),
									btn_feed.on : 녹색 버튼, 질문대기 상태 (질문 대기중입니다, 이해했어요!),
									btn_feed.pause : 빨간색 버튼 (이해가안돼요!, 화면공유 중지, 강의녹화 중지)
							-->
							<div class="button"><a href="javascript:;" class="btn_feed" id="questionBtn"><div><i class="btn_ic type1"></i></div>쌤 질문있어요!</a></div><!-- active(질문중), on(질문 대기중) -->
							<div class="button"><a href="javascript:;" class="btn_feed" id="yesBtn"><div><i class="btn_ic type2"></i><span class="number maincolor1">13</span></div>이해했어요!</a></div><!-- on -->
							<div class="button"><a href="javascript:;" class="btn_feed" id="noBtn"><div><i class="btn_ic type3"></i><span class="number maincolor2">4</span></div>이해가안돼요!</a></div><!-- pause -->
						</div>
						<div class="button_right">
							<!-- 설정더보기 버튼(클릭 시 설정 팝업 노출) -->
							<div class="button"><a href="javascript:;" class="btn_more"><div><i>더보기</i></div></a></div>
							<!-- //설정더보기 버튼(클릭 시 설정 팝업 노출) -->
						</div>
					</div>
					<!-- 설정 팝업 -->
					<div class="pop_layer_wrap player_setlist" style="display: none;">
						<div class="pop_layer_area">
							<div class="layer_in">
								<ul>
									<li><a href="javascript:;"><i class="type1"></i><div><p class="tit">전체화면</p></div></a></li>
									<li><a href="javascript:;"><i class="type2"></i><div><p class="tit">전체화면 종료</p></div></a></li>
									<li><a href="javascript:;"><i class="type8"></i><div><p class="tit">강의실 나가기</p></div></a></li>
									<li><a href="javascript:;"><i class="type9"></i><div><p class="tit">설정</p></div></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- //설정 팝업 -->
					<!-- 타이머 팝업 -->
					<div class="pop_layer_wrap player_timer">
						<div class="pop_layer_area">
							<div class="layer_in">
								<div class="pop_timer">
									<div class="timer_area">00:00:00</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //타이머 팝업 -->
				</div>
			</div>
		</section>
		<!-- //영상 -->
	</div>
	<!-- //플레이어 영역 -->
</div>
<script type="text/javascript">

  //설정더보기
    var set = 1;
    $(".btn_more").click(function(){
        if(set==1){
            $(".player_setlist").show();
            $(".player_setlist").addClass('on');
			$(this).addClass('on');
            set--;
        }else{
            $(".player_setlist").hide();
            $(".player_setlist").removeClass('on');
			$(this).removeClass('on');
            set++;
        }
    });


	$("#questionBtn").click(function(){
		$(this).toggleClass('active');
    });

	$("#yesBtn").click(function(){
		$(this).toggleClass('on');
    });

	$("#noBtn").click(function(){
		$(this).toggleClass('pause');
    });

	////////////////////////////////////////////////////////////////////////////////////////////////
	(function(){ // 외부 라이브러리와 충돌을 막고자 모듈화.
		// 브라우저 및 버전을 구하기 위한 변수들.
		'use strict';
		var agent = navigator.userAgent.toLowerCase(),
			name = navigator.appName,
			browser;

		// MS 계열 브라우저를 구분하기 위함.
		if(name === 'Microsoft Internet Explorer' || agent.indexOf('trident') > -1 || agent.indexOf('edge/') > -1) {
			browser = 'ie';
			if(name === 'Microsoft Internet Explorer') { // IE old version (IE 10 or Lower)
				agent = /msie ([0-9]{1,}[\.0-9]{0,})/.exec(agent);
				browser += parseInt(agent[1]);
			} else { // IE 11+
				if(agent.indexOf('trident') > -1) { // IE 11
					browser += 11;
				} else if(agent.indexOf('edge/') > -1) { // Edge
					browser = 'edge';
				}
			}
		} else if(agent.indexOf('safari') > -1) { // Chrome or Safari
			if(agent.indexOf('opr') > -1) { // Opera
				browser = 'opera';
			} else if(agent.indexOf('chrome') > -1) { // Chrome
				browser = 'chrome';
			} else { // Safari
				browser = 'safari';
			}
		} else if(agent.indexOf('firefox') > -1) { // Firefox
			browser = 'firefox';
		}

		// IE: ie7~ie11, Edge: edge, Chrome: chrome, Firefox: firefox, Safari: safari, Opera: opera
		document.getElementsByTagName('html')[0].className = browser;
	}());
</script>
<!-- //스트리밍 플레이어 -->
	</body>
</html>

