<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta content="text/html" charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1, user-scalable=yes">
		<meta name="Title" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<title>모두의대치동</title>
		<link rel="stylesheet" type="text/css" href="/common/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="/common/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/live/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/live/css/player.css"/>
		<title>모두의대치동</title>
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="/common/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="/common/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/live/css/reset.css"/>
<!--		<script type="text/javascript" src="https://www.bravecompany.net/js/jquery.min.js"></script>-->
	</head>
	<body>
	<button type="button" id="testBtn">클릭해 보세요!</button>
	<div class="layout_popup_wrap" style="display:block;">
		<img src="/live/img/closeRoom.png" alt="closeRoom" style="width:100%; height: 100%;">
	</div>
<!--	<script type="text/javascript">-->
<!--		$("#testBtn").click(function(){-->
<!--			window.parent.postMessage({ action: "systemAlert", message: '호이호이' }, "*");-->
<!--		});-->

<!--	</script>-->
	
	</body>
</html>