<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta content="text/html" charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1, user-scalable=yes">
		<meta name="Title" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<title>모두의대치동</title>
		<link rel="stylesheet" type="text/css" href="/common/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="/common/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/live/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/live/css/player.css"/>
		<style>
			.master {
				width: 100vw;
				height: 100vh;
			}
		</style>
		<script type="text/javascript" src="https://www.bravecompany.net/js/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js" ></script>
		<script type="text/javascript" src="/common/js/janus.js"></script>
		<script type="text/javascript" src="/common/js/video.device.js"></script>
		<script type="text/javascript" src="/common/js/security.js"></script>
		<script type="text/javascript" src="/live/js/live_chat.js"></script>
		<script type="text/javascript" src="/live/js/live_page_c.js"></script>
		<script type="text/javascript" src="/live/js/live_page_p.js"></script>
		<script type="text/javascript" src="/live/js/live_videoroom.js"></script>
	</head>
	<body style="-ms-overflow-y: hidden; overflow-y: hidden;">
		<input type="hidden" id="mediaUrl" value="" />
		<input type="hidden" id="chatUrl" value="" />
		<input type="hidden" id="roomNo" value="" />
		<input type="hidden" id="userId" value="" />
		<input type="hidden" id="userNick" value="" />
		<input type="hidden" id="userLevel" value="" />
		<input type="hidden" id="managerId" value="" />
		<div class="master">
			<video id="video_screen" class="video-js vjs-default-skin video" playsinline autoplay muted style="display: none;"></video>
		</div>
<script type="text/javascript">
	iframeMode = 'screen';
	function quit() {
		leave();
	}
</script>
	</body>
</html>